<footer
	class="
		view_cart
		text-light
		mt-auto
		d-flex d-lg-none
		position-fixed
		bottom-0
		start-0
	"
>
	<div class="cart" style="width: 100%; padding: 10px 0; color: #fff">
		<a id="link" href="/order/view-cart" class="px-3 stretched-link"
			><span class="pe-1"><i data-feather="shopping-cart"></i></span> View Cart
			(<%= cart.totalQty %>)
			<span class="float-end pe-3">$<%= cart.total.toFixed(2) %></span>
		</a>
	</div>
</footer>
