<% layout('layouts/checkoutboilerplate') %>
<h2>Order Summary</h2>
<form id="myform" action="/order/testing">
	<input type="text" name="name" /><input type="email" name="email" /><input
		type="password"
		name="password"
	/>
	<button type="submit">Submit</button>
</form>
